.app.dark {
    --bg-color: #04041d;
    --inverted-bg-color: #eeeefd;

    --primary-color: #d3d3e2;
    --secondary-color: #2c7dc5;
    --inverted-primary-color: #111141;
    --inverted-secondary-color:  #2c7dc5;
}