.app.dark {
    --bg-color: #1a1a24;
    --inverted-bg-color: #eeeefd;
    --primary-color: #d3d3e2;
    --secondary-color: #2c7dc5;
    --inverted-primary-color:#070729;
    --inverted-secondary-color:  #2c7dc5;
}