.app.light {
    --bg-color: #eeeefd;
    --inverted-bg-color: #04041d;

    --primary-color: #111141;
    --secondary-color: #2c7dc5;
    --inverted-primary-color: #d3d3e2;
    --inverted-secondary-color: #2c7dc5;
}